html {
    width: 100%;
    height: 100%;
    background: rgba(var(--semi-grey-0), 1);
}

body {
    margin: 0!important;
    overflow-x: hidden!important;
    background: rgba(var(--semi-grey-0), 1)!important;
}
