.flex-inline {
    display: flex;
    align-items: center;
}

.triangleBackground {
    padding: 5px;
    color: rgba(var(--semi-grey-9), 1);
}

.hoverBackground:hover {
    background: rgba(var(--semi-grey-1), 1);
}

.iconRotate {
    transform: rotate(45deg);
}