.article-border {
    padding: 20px 0 20px 0;
    /* border-bottom: 0.5px solid rgba(var(--semi-grey-1), 1); */
}

.prev-title {
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(var(--semi-grey-2), 1);
}